<div class="main-page">
    <div class="left">
        <div class="left-content">

            <!-- login-page -->
            <ng-container *ngIf="showLogin">
                <div class="heading">Login your account</div>
                <div class="form">
                    <form [formGroup]="login">
                        <div class="input-field">
                            <label for="email">Email</label><br>
                            <input type="email" id="email" formControlName="email" placeholder="Your E-mail">
                        </div>
                        <div class="input-field">
                            <label for="password">Password</label><br>
                            <input type="{{hide ? 'password' : 'text'}}" id="password" formControlName="password" placeholder="Your Password">
                            <i class="far fa-eye" id="togglePassword" (click)="hide = !hide"></i>
                        </div>
                    </form>
                </div>
                <div class="button-container">
                    <div class="inactive button" (click)="showLogin = !showLogin">Register</div>
                    <div (click)="onLogin()" class="active button">Login</div>
                </div>
                <div class="checkbox-container">
                    <input type="checkbox" class="check-box">
                    <div>Remember me</div>
                </div>

                <ng-container *ngIf="alert">
                    <div class="alertMessage">{{alertMessage}}</div>
                </ng-container>
            </ng-container>


            <!-- register-page -->
            <ng-container *ngIf="!showLogin">
                <div class="heading">Register</div>
                <div class="form">
                    <form [formGroup]="register">
                        <div class="input-field">
                            <label for="username">Username</label><br>
                            <input type="text" formControlName="username" placeholder="Your Username">
                        </div>
                        <div class="input-field">
                            <label for="email">Email</label><br>
                            <input type="email" formControlName="email" placeholder="Your E-mail">
                        </div>
                        <div class="input-field">
                            <label for="password">Password</label><br>
                            <input type="{{hide ? 'password' : 'text'}}" formControlName="password" placeholder="Your Password">
                            <i class="far fa-eye" id="togglePassword" (click)="hide = !hide"></i>
                        </div>
                        <div class="input-field">
                            <label for="confirm-password">Confirm Password</label><br>
                            <input type="{{hidePassword ? 'password' : 'text'}}" 
                                id="confirmPassword" name="confirm-password" formControlName="confirmPassword" placeholder="Your Password">
                            <i class="far fa-eye" id="togglePassword" (click)="hidePassword = !hidePassword"></i>
                        </div>
                    </form>
                </div>
                <div class="button-container">
                    <div class="active button" (click)="OnRegister()">Register</div>
                </div>
                <div class="login-btn">Already a user? <span (click)="showLogin = !showLogin"> Login </span></div>

                <ng-container *ngIf="alert">
                    <div class="alertMessage">{{alertMessage}}</div>
                </ng-container>

            </ng-container>

        </div>
    </div>
    <div class="right">
        <img src="../../../assets/login-page.jpg" alt="">
    </div>
</div>
